
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&family=Vibur&display=swap');


body{
    background-color: #235E6F;
    font-family: 'Source Code Pro', monospace;
    color: white;
    margin: 0px;
    padding: 0px;
}
 


img{
    position: absolute;
    top: 15%;
    right: 10%;
    z-index: -1;
}

h1{
    font-weight: 700;
    font-size: 44px;
}

button.btn.btn-primary.btn-lg{
    background-color: #AB110D;
    border-radius: 12px;
    padding: 15px;
    width: 90%;
    margin: 10px 0px;
}

button.btn.btn-primary.btn-lg.btn-block:active {
    background-color: transparent ;
    border: 1px solid white ;
    color: white;
    
}

.btn-col{
    margin-top: 50px;

}


input.form-control {
    margin: 22px auto;
    width: 90%;
    font-size: 1.2rem;
}

.lay{
    margin-top: 20px;
}

#addParticipant, #AddNumPeople, #sorteoPage, #addMoney, #waitingPage, #addName, #addCode, #addNameToJoin, #getsecretName, #waintingJoin, #secretName, #secretNameAdmin{
    display: none;
}




span.input-group-text {
    font-size: 1.3rem;
    position: relative;
    top: 20px;
}

.input-group.mb-3 {
    margin: 0 auto;
    width: 90%;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 


 .waitingDiv h3 {
    padding: 7px;
}

.waitingDiv p {
    padding: 6px 0px;
}

input#yourName {
    margin: 20px;
    height: 45px;
    border: none;
    border-radius: 6px;
    padding: 14px;
    box-shadow: none;
    width: 350px;
    font-size: 20px;
    margin: 20px auto;
}

ul.list-group.names-post {
    width: 90%;
    margin: 0 auto;
    overflow-y: scroll;
    height: 170px;
}

input#codigoSorteo {
    height: 35px;
    border: none;
    box-shadow: none;
    border-radius: 6px;
    padding: 14px;
    font-size: 20px;
    width: 180px;
    position: relative;
    top: 3px;
}

div#codeDiv {
    padding: 20px 0px;
}


.magicBtn{
    background-color: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
    margin: 45px 0px;
}

.magicBtn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg,
        red, blue, deeppink, blue,
        red, blue, deeppink, blue
    );

    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite

}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50%{
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

#get88{
    display: none;
    padding: 20px;
}

#finalForAdmi{
    display: none;
}

#getsecretName h3, #finalForAdmi h3 {
    padding: 10px;
}

.row{
    margin-right: 0px;
    margin-left: 0px;
}

h3#secretCodeHolder {
    font-size: 30px;
    font-weight: 700;
    color: #008000;
}

h3#secretAdmin, h3#secretUser, .title{

  font-size: 70px;
  color: #fff;
  font-family: 'Vibur', cursive;
  text-align: center;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
  animation: glow 1s ease-in-out infinite alternate;
}



.title{
    font-family: 'Vibur', cursive;
    padding: 20px 10px;
}

@keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0073e6, 0 0 40px #0073e6, 0 0 50px #0073e6, 0 0 60px #0073e6, 0 0 70px #0073e6;
    }
  }

.fa-gift{
    color: whitesmoke;
    padding: 30px;
    color: #fff;
}


.logo{
    margin-top: 57px;
    margin-left: 19px;
    text-align: left;
}



  
.logo b{
    font: 400 12vh "Vibur";
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
  }


.wp{
    background-color: #25D366;
}


@media only screen and (min-width: 500px){

button.btn.btn-primary.btn-lg{
    width: 400px;
    display: block;
    margin: 10px auto;

}

.logo{
    margin-top: 50px;
    text-align: center;
}


input#participantes {
    width: 400px;
    margin: 20px auto;
}


.input-group.mb-3 {

    display: block;
}

input.form-control {
    margin: 22px auto;
    width: 400PX;
    font-size: 1.2rem;
}

}


@media only screen and (min-width: 800px){

    img {
        position: absolute;
        right: 20%;
        top: 20%;
    }

    
   


}

@media only screen and (min-width: 1000px) {

    img {
        position: absolute;
        right: 35%;
        top: 20%;
    }


    .logo{
        margin-top: 57px;
        margin-left: 99px;
        text-align: center;
    }


    
    button.btn.btn-primary.btn-lg {
        padding: 30px;
        font-size: 29px;
        width: 500px;

        
    }


}

@media only screen and (min-width: 700px) and (max-width: 950px){

   


    .logo{
        margin-top: 57px;
        margin-left: 152px;
        text-align: center;
    }


    button.btn.btn-primary.btn-lg {
        padding: 30px;
        font-size: 29px;
        
    }

    img {
        position: absolute;
        right: 20%;
        top: 20%;
    }


}

.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
  }
  
  @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
  /* Demo Purpose Only*/
  .demo {
    font-family: 'Raleway', sans-serif;
      color:#fff;
      display: block;
      margin: 0 auto;
      padding: 15px 0;
      text-align: center;
  }
  .demo a{
    font-family: 'Raleway', sans-serif;
  color: #000;		
  }